<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NER Visualization</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=JetBrains Mono"
      rel="stylesheet"
    />
    <style>
      .option {
        padding: 5px;
        margin: 5px;
        background-color: white;
      }

      .label {
        padding: 5px;
      }

      body {
        width: 80%;
        margin: 0 auto;
        font-family: "JetBrains Mono";
      }

      .link {
        padding-left: 20px;
        padding-right: 20px;
        user-select: none;
      }

      a.nostyle:link {
        text-decoration: inherit;
        color: inherit;
      }

      a.nostyle:visited {
        text-decoration: inherit;
        color: inherit;
      }
    </style>
  </head>
  <body>
    <div
      style="
        text-align: center;
        background-color: #6666ff;
        color: white;
        font-size: 40px;
        user-select: none;
      "
      class="py-3"
      id="title"
    >
      <div>Named Entity Recognition Visualization</div>
    </div>
    <div class="d-flex justify-content-end" id="header">
      <div class="link">
        <a href="#" target="_blank" class="nostyle">Github</a>
      </div>
      <div class="link">
        <a
          href="https://huggingface.co/dslim/bert-base-NER"
          target="_blank"
          class="nostyle"
          >Model</a
        >
      </div>
      <div class="link">
        <a
          href="https://huggingface.co/datasets/eriktks/conll2003"
          target="_blank"
          class="nostyle"
          >Dataset</a
        >
      </div>
    </div>
    <div class="d-flex px-3 py-3" id="upper" style="background-color: #6666ff">
      <div class="d-flex col-8" id="input">
        <div class="col">
          <textarea
            type="text"
            class="form-control"
            id="inputText"
            placeholder="Write something here..."
            style="resize: none; height: 100%"
          ></textarea>
        </div>
        <div id="queryButton">
          <button class="btn" style="height: 100%">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      <div class="col-4" id="labels">
        <div>
          <strong style="user-select: none"
            ><span style="font-size: 24px; color: white"
              >Entity Labels
              <span id="selectAll" style="cursor: pointer"
                >(select all)</span
              ></span
            ></strong
          >
        </div>
        <div style="user-select: none" class="d-flex flex-wrap">
          <div class="option">
            <label for="person">
              <input
                type="checkbox"
                id="person"
                value="person"
                class="entity"
              />
              <strong class="label" id="person-label">PERSON</strong>
            </label>
          </div>
          <div class="option">
            <label for="norp">
              <input type="checkbox" id="norp" value="norp" class="entity" />
              <strong class="label" id="norp-label">NORP</strong>
            </label>
          </div>
          <div class="option">
            <label for="org">
              <input type="checkbox" id="org" value="org" class="entity" />
              <strong class="label" id="org-label">ORG</strong>
            </label>
          </div>
          <div class="option">
            <label for="gpe">
              <input type="checkbox" id="gpe" value="gpe" class="entity" />
              <strong class="label" id="gpe-label">GPE</strong>
            </label>
          </div>
          <div class="option">
            <label for="loc">
              <input type="checkbox" id="loc" value="loc" class="entity" />
              <strong class="label" id="loc-label">LOC</strong>
            </label>
          </div>
          <div class="option">
            <label for="product">
              <input
                type="checkbox"
                id="product"
                value="product"
                class="entity"
              />
              <strong class="label" id="product-label">PRODUCT</strong>
            </label>
          </div>
          <div class="option">
            <label for="event">
              <input type="checkbox" id="event" value="event" class="entity" />
              <strong class="label" id="event-label">EVENT</strong>
            </label>
          </div>
          <div class="option">
            <label for="work_of_art">
              <input
                type="checkbox"
                id="work_of_art"
                value="work_of_art"
                class="entity"
              />
              <strong class="label" id="work_of_art-label">WORK OF ART</strong>
            </label>
          </div>
          <div class="option">
            <label for="language">
              <input
                type="checkbox"
                id="language"
                value="language"
                class="entity"
              />
              <strong class="label" id="language-label">LANGUAGE</strong>
            </label>
          </div>
          <div class="option">
            <label for="date">
              <input type="checkbox" id="date" value="date" class="entity" />
              <strong class="label" id="date-label">DATE</strong>
            </label>
          </div>
          <div class="option">
            <label for="time">
              <input type="checkbox" id="time" value="time" class="entity" />
              <strong class="label" id="time-label">TIME</strong>
            </label>
          </div>
          <div class="option">
            <label for="percent">
              <input
                type="checkbox"
                id="percent"
                value="percent"
                class="entity"
              />
              <strong class="label" id="percent-label">PERCENT</strong>
            </label>
          </div>
          <div class="option">
            <label for="money">
              <input type="checkbox" id="money" value="money" class="entity" />
              <strong class="label" id="money-label">MONEY</strong>
            </label>
          </div>
          <div class="option">
            <label for="quantity">
              <input
                type="checkbox"
                id="quantity"
                value="quantity"
                class="entity"
              />
              <strong class="label" id="quantity-label">QUANTITY</strong>
            </label>
          </div>
          <div class="option">
            <label for="ordinal">
              <input
                type="checkbox"
                id="ordinal"
                value="ordinal"
                class="entity"
              />
              <strong class="label" id="ordinal-label">ORDINAL</strong>
            </label>
          </div>
          <div class="option">
            <label for="cardinal">
              <input
                type="checkbox"
                id="cardinal"
                value="cardinal"
                class="entity"
              />
              <strong class="label" id="cardinal-label">CARDINAL</strong>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div
      class="p-5"
      style="background-color: gainsboro; min-height: 300px"
      id="output"
    ></div>
    <div>
      <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Team Members</h5>
              <p>21127043 - Lư Trung Hậu</p>
              <p>21127578 - Nguyễn Hồng Quế Anh</p>
              <p>21127733 - Lê Nguyễn Thái Dương</p>
              <p>21127737 - Trần Công Bảo</p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">About this website</h5>
              <p>
                We employed a BERT-based Named Entity Recognition (NER) model,
                featuring 110 million parameters. It has been trained and tested
                on the CoNLL2003 dataset.
              </p>
            </div>
          </div>
        </div>
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.05)"
        >
          <strong>Named Entity Recognition Visualization</strong>
        </div>
      </footer>
    </div>
  </body>
  <script>
    $(window).on("resize", function () {
      const windowWidth = $(window).width();
      if (windowWidth <= 1100 && windowWidth > 774) {
        $("body").css("width", "90%");
      } else if (windowWidth <= 774) {
        $("#upper").css("flex-direction", "column");
        $("#input").removeClass("col-8").addClass("col");
        $("#inputText").css("height", "400px");
        $("#labels").removeClass("col-4").addClass("col");
        $("body").css("width", "100%");
      } else {
        $("#upper").css("flex-direction", "row");
        $("#input").removeClass("col").addClass("col-8");
        $("#labels").removeClass("col").addClass("col-4");
        $("#inputText").css("height", "100%");
        $("body").css("width", "80%");
      }
    });
    const colorDict = {
      person: "#66ff99",
      norp: "#0099cc",
      org: "#ff9900",
      gpe: "#ff6666",
      loc: "#9933ff",
      product: "#ffff66",
      event: "#00cc66",
      work_of_art: "#ffcc00",
      language: "#6666ff",
      date: "#cc3399",
      time: "#3366cc",
      percent: "#9900cc",
      money: "#006600",
      quantity: "#ffcc66",
      ordinal: "#ff66ff",
      cardinal: "#9da8bd",
    };
    $(".entity").on("click", function (event) {
      const labelName = event.target.id;
      const labelID = `#${labelName}-label`;
      if (this.checked) {
        $(labelID).css("background-color", colorDict[labelName]);
      } else {
        $(labelID).css("background-color", "");
      }
    });
    $("#selectAll").on("click", function () {
      const allCheckboxes = $(".entity");
      const uncheckedCheckboxes = allCheckboxes.filter(":not(:checked)");
      if (uncheckedCheckboxes.length > 0) {
        uncheckedCheckboxes.trigger("click");
      } else {
        allCheckboxes.trigger("click");
      }
    });
    $(document).ready(function () {
      $(window).trigger("resize");
      $(".option").addClass("rounded");
      $(".label").addClass("rounded");
      $("#queryButton").click(function () {
        const inputText = $("#inputText").val();
        $.ajax({
          type: "GET",
          url: "/api/output",
          data: { text: inputText },
          success: function (res) {
            $("#output").empty();
            const chunks = res.data
              .split(/\n+/)
              .filter((chunk) => chunk.trim() !== "");
            const wrappedChunks = chunks.map((chunk) => `<p>${chunk}</p>`);
            $("#output").append(wrappedChunks.join(""));
          },
          error: function (error) {
            console.error(error);
          },
        });
      });
    });
  </script>
</html>
